<launch>
  <arg name="arm" default="panda" /> <!-- determines which arm to launch from command line -->
  <param name="arm/name" value="$(arg arm)" /> 
  <param name="arm/dof" value="7"/>

  <!-- spawn specified insert w/ moveit -->
  <group if="$(eval arm == 'panda')">
    <include file="$(find panda_insert_description)/launch/spawn_panda_insert.launch">
      <arg name="rviz" value="false" />
      <arg name="x0" value="0"/>
      <arg name="y0" value="0"/>
      <arg name="z0" value="1"/>
    </include>
  </group>

  <group if="$(eval arm == 'kortex')">
    <include file="$(find kortex_insert_description)/launch/spawn_kortex_insert.launch">
      <arg name="start_rviz" value="true" />
      <arg name="x0" value="0"/>
      <arg name="y0" value="0"/>
      <arg name="z0" value="1"/>
    </include>
  </group>

  <!-- spawn moveit server -->
  <include file="$(find abstract_arm)/launch/moveItServer.launch" pass_all_args="true"/>

  <!-- spawn base -->
  <include file="$(find mobile_base_description)/launch/spawn_base.launch" />

  <!-- spawn insert follower node -->
  <node pkg="abstract_arm" name="base_follower" type="base_follower.py" output="screen" />
</launch>